body{
    font-family: "Arial Black";
    margin:0;
    font-size:1.0rem;
    line-height:1.4em;
}
p{
    margin-bottom:1.5em;
}

h1{
    font-size:2rem;
    line-height:1.3em;
}

.container{
    width:85%;
    max-width:850px;
    margin:0 auto;
}

.header {
    background:tomato;
    color:white;
    padding:2rem 0;
}

 .header a{
     color:white;
     text-decoration:none;
 }

.logo-nav-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

    .navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    }
         .navigation ul li {
             display: inline-block;
         }
            navigation ul li a{
                 display: block;
                 padding: 0.5rem 1rem;
            }
                .navigation ul li a:hover{
                    background: #ccc;
                }

