.main{
    padding-top: 12rem;
}

body{
    margin:0;
    font-size:1.2rem;
    line-height:1.6em;
    position: relative;
    padding-bottom:12em;
    min-height: 100vh;
    font-family: "Calibri Light";
}
p{
    margin-bottom:1.6em;
}

h1{
    font-size:2rem;
    line-height:1.5em;
}

.container{
    width:85%;
    max-width:850px;
    margin:0 auto;
}

.header {
    background: #c31e14;
    color:white;
    padding: 1.2rem;
    font-size: 1.5em;
    font-family: "Arial Black";

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

 .header a{
     color:white;
     text-decoration:none;

 }

.logo-nav-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}
.menu-icon {
    display: none;
}
    .navigation ul{
    list-style: none;
    }
         .navigation ul li {
             display: inline-block;
         }
            navigation ul li a {
                 display: block;
                 padding: 1rem 1rem;
                transition: all 0.4s linear;
                 border-radius: 10px;
            }
                .navigation ul li a:hover{
                    background: brown;
                }

 .logo{
     display: inline-block;
     vertical-align: middle;
     width: 120px;
 }
/*Footer*/
 .logo img{
     display: block;
     width: 100%;
     height: auto;
 }
.logo-footer{
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}
.logo-footer img{
    display: block;
    width: 100%;
    height: auto;
}

.footer{
    background: dimgray;
    font-family: Arial;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*Fin-Footer*/

/*inicio-Cards*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: auto;
}

.container-card{
    padding-top: 15em;
    width: 100%;
    display: flex;
    max-width: 1080px;
    margin:auto;
    font-family: "Arial Black", "Arial";

}
.title-cards{
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #7a7a7a;
}

.card{
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #cccccc;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);

}
.card img{
    margin-top: 1em;
    text-align: center;
    width: 100%;
    max-width: 270px;
    height: 220px;
}
.card .contenido-card{
    padding: 20px;
    text-align: center;

}
.card .contenido-card h3{
    margin-bottom: 15px;
    font-family: "Candara Light";
    color: black;
}
.card .contenido-card p{
    line-height: 1.8;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: Calibri;
}
.card .contenido-card a{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .container-card{
        flex-wrap: wrap;
    }
    .card{
        margin: 20px;
    }
}

/*Fin-Cards*/